<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/nav.ejs") %>
  <header>
    <h1>Create List</h1>
  </header>

  <%- include("../partials/sub-nav.ejs") %>
  
  <main>
    <h2>Create a name for your grocery list</h2>
    <form method="post" action="/lists/view">
      <div>
        <input type="text" name="title" id="title" required autofocus>
        <label for="title"><button class="add">Create List</button></label>
      </div>
    </form>
  </main>

  <%- include("../partials/footer.ejs") %>

</body>
</html>