<footer>

  <div class="box one">
    <h4>How to use Grocery Tracker</h4>
  </div>
  <div class="box two">
    <h4>Copyright @ Grocery-Tracker</h4>
  </div>
  <div class="box three">
    <h4>Contact Us</h4>
    <p>47 Lynwood Drive</p>
    <p>Berlin</p>
    <p>1573</p>
  </div>

</footer>