<nav>
  <ul class="navList">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/lists/create">Create List</a></li>
    <li><a href="/lists/view">My Lists</a></li>
    <li><a href="">Account</a></li> <!--Should navigate to account menu.-->
  </ul>
</nav>