<nav class="main-nav">

  <ul>
    <% if (user === null) { %>
      <li><a href="/dashboard/">Dashboard</a></li>
    <% } else { %>
      <li><a href="/dashboard/<%= user.id %>">Dashboard</a></li>
    <% } %>
    <li><a href="/lists/create">Create List</a></li>
    <li><a href="/lists/view">My Lists</a></li>
    <li>
      <a href="#">Account</a>

      <ul id="dropdown">
        <li><a href="#">Settings</a></li>
        <% if (user !== null) { %>
        <li><a href="/logout">Logout</a></li>
        <% } %>
      </ul>

    </li> 
  </ul>
</nav>