<nav>
  <ul class="navList">
    <li><a class="navListItem" href="/">Home</a></li>
    <li><a class="navListItem" href="/about">About</a></li>
    <li><a class="navListItem" href="/user">User</a></li>
    <li><a class="navListItem" href="/lists">Lists</a></li>
  </ul>
</nav>