<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/nav.ejs") %>

  <header>
    <h1>Dashboard</h1>
  </header>
  <main>
    <div id="profileImageContainer">
      <div id="profileImage"></div> <!--Fetch image inserted by user-->
    </div>
  </main>

  <%- include("../partials/footer.ejs") %>

</body>
</html>