<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <header>
    <h1>Create List</h1>
  </header>

  <ul>
    <li><a href="/lists/view">View Lists</a></li>
    <li><a href="/lists/create">Create List</a></li>
  </ul>
  
  <main>
    <h2>Create a name for your grocery list</h2>
    <form method="post" action="/lists/view">
      <div>
        <label for="title">List title:</label>
        <input type="text" name="title" id="title" required>
      </div>
      <div>
        <button>Add Item</button>
      </div>
    </form>
  </main>

  <%- include("./partials/footer.ejs") %>

</body>
</html>