<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <header>
    <h1>Home Page</h1>
  </header>
  <main>
    
  </main>

  <%- include("./partials/footer.ejs") %>

</body>
</html>
