<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <header> <!-- the jumbotron and sign up form should be within the header -->
      <h1 class="groceryTrackerHeading">Grocery Tracker <em>2.0</em></h1>
  </header>
  <main id="signInMain">
    <div class="aboutContainer">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam laudantium nostrum deleniti accusantium est debitis laborum illum iste maxime unde quam eius, fugit consequuntur corrupti? Natus consequuntur error assumenda mollitia!</p> <!-- the about us section should be within the main tag -->
    </div>
    <form id="formSignInPage">
      <div class="formCallForInput">
        <label for="email">Email</label>
        <input class="formInputField" type="text" name="email" id="email" required>
        <div class="email error"></div>
      </div>
      <div class="formCallForInput">
        <label for="password">Password</label>
        <input class="formInputField" type="password" name="password" id="password" required>
        <div class="password error"></div>
      </div>
      <button>Sign Up</button>
      <button>Log In</button>
    </form>
  </main>
  <%- include("./partials/footer.ejs") %>
  <script src="/form.js"></script> <!-- this file is in public -->
</body>
</html>