<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>

  <header>
    <h1>Home Page</h1>
  </header>
  <main>
    <a href="/about">About</a>
    <a href="/user">User</a>
  </main>
  <%- include("./partials/footer.ejs") %>
  <p>Pizza yessss!!! Something else</p>
</body>
</html>
