<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <header>
    <h1>Lists Page</h1>
  </header>
  <main>
    <a href="/lists/view">View Lists</a>
    <a href="/lists/create">Create List</a>
  </main>

  <%- include("./partials/footer.ejs") %>

</body>
</html>