<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>

  <header>
    <h1>User Page</h1>
  </header>
  <main>
    <a href="/">Home</a>
  </main>

  <%- include("./partials/footer.ejs") %>

</body>
</html>