body {
  margin: 0px;
  font-family: 'Zilla Slab', serif;
  background-image: url();
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Selecting all specified elements of kind */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px;
}

li {
  display: grid;
  justify-content: center;
}

h2 {
  text-align: center;
  border: 2px dotted black;
  padding: 10px;
}

/* Nav Styles */
nav {
  padding: 10px;
  background: pink;
}

.navList {
  font-size: 20px;
  padding-left: 0px;
}

nav a:hover {
  color: rgba(255, 255, 255, 0.664);
}

header {
  text-align: center;
}

/* Main Styles */
main {
  padding: 20px 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Footer Styles */
footer {
  display: flex;
}

.box {
  min-height: 50px;
  max-height: 90px;
  padding: 5px 15px;
  flex: 1 0 100px;
  background: #222;
  color: white;
  text-align: center;
}

/* - - - edit.ejs - - - */
.edit-article { /* selects the ARTICLE element */
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* list-details SECTION */
.list-details {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  flex: 0 1;
  width: 190px;
  text-align: right;
  min-height: 260px;
  max-height: 300px
}

.list-details h3 {
  margin: 0px;
}

.list-details input {
  width: 176px;
  margin: 0px;
  padding: 5px;
}

.list-details button {
  width: 190px;
  margin: 0px;
  padding: 5px;
  background: white;
  color: black;
}

.list-details a {
  color: black;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  margin: 10px 0px;
  border: 2px solid black;
}

.form button {
  margin: 10px 0px 20px 0px;
  height: 40px;
  width: 40px;
  border: 2px solid rgb(59, 59, 59);
  color: rgb(59, 59, 59);
  border-radius: 100%;
  background: rgb(255, 255, 255);
}

.form button:hover {
  border: 2px solid rgb(59, 59, 59, 0.8);
  color: rgb(59, 59, 59, 0.8);
}

/* list-items SECTION */
.list-items {
  min-height: 60px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list-items > div {
  display: flex;
  flex-direction: row;
  width: 378.5px;
  transition: background 300ms;
}

.list-row {
  position: relative;
  overflow: hidden;
}

.item {
  flex: 5;
  text-align: left;
  font-size: 17px;
}

.item-buttons {
  flex: 2;
}

.list-items > div:hover {
  background: rgba(231, 231, 231, 0.445);
}

/* options popup */
.options {
  background: rgb(255, 42, 42);
  position: absolute;
  left: 345px;
  width: 35px;
  color: white;
  transition: left 300ms;
}

.hide {
  /* opacity: 1; */
  left: 425px;
  position: absolute;
  width: 37px;
  color: white;
  transition: left 900ms;
}

/* - - Media Queries - - */
@media screen and (max-width: 720px) {

  footer {
    flex-direction: column;
  }

  .box {
    padding: 5px 15px;
    flex: 1 0 80px;
    background: #222;
    color: white;
  }

  .list-details {
    text-align: center;
    max-height: 200px
  }

}