body {
  margin: 0px;
  font-family: 'Zilla Slab', serif;
  background-image: url();
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Selecting all specified elements of kind */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

li {
  display: grid;
  justify-content: center;
}

h2 {
  text-align: center;
  border: 2px dotted black;
  padding: 10px;
}

/* Nav Styles */
nav {
  padding: 10px;
  background: pink;
}

.navList {
  font-size: 20px;
  padding-left: 0px;
}

nav a:hover {
  color: white;
}

header {
  text-align: center;
}

/* Main Styles */
main {
  padding: 20px;
  flex-grow: 1;
}

main ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

main li {
  min-height: 25px;
}

/* Footer Styles */
footer {
  display: flex;
  flex-wrap: wrap;
}

.box {
  min-height: 120px;
  padding: 5px 15px;
  flex: 1 0 260px;
  background: #222;
  color: white;
}

/* edit.ejs */
.edit-list {
  display: inline-block;
}

.edit-list {
  width: 250px;
}

.edit-list ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.edit-list li {
  padding: 5px;
  display: inline-block;
  width: 100%;
}

.edit-list li:hover {
  padding: 5px;
}