body {
  margin: 0px;
  font-family: 'Zilla Slab', serif;
  background-image: url();
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Selecting all specified elements of kind */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

li {
  display: grid;
  justify-content: center;
}

h2 {
  text-align: center;
  border: 2px dotted black;
  padding: 10px;
}

/* Nav Styles */
nav {
  padding: 10px;
  background: pink;
}

.navList {
  font-size: 20px;
  padding-left: 0px;
}

nav a:hover {
  color: white;
}

header {
  text-align: center;
}

/* Main Styles */
main {
  padding: 20px 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main li {
  min-height: 25px;
}

/* Footer Styles */
footer {
  display: flex;
}

.box {
  min-height: 50px;
  max-height: 90px;
  padding: 5px 15px;
  flex: 1 0 100px;
  background: #222;
  color: white;
  text-align: center;
}

/* edit.ejs */
#edit-ejs article {
  display: flex;
  flex-wrap: wrap;
}

.edit-article {
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
}

/* list-details */
.list-details {
  display: flex;
  flex-direction: column;
  padding: 0px 82px;
  flex: 0 1;
  width: 190px;
  text-align: right;
  min-height: 260px;
  max-height: 300px
}

.list-details input {
  width: 176px;
  margin: 0px;
  padding: 5px;
}

.list-details button {
  width: 190px;
  margin: 0px;
  padding: 5px;
  background: white;
  color: black;
}

.list-details a {
  color: black;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  margin: 10px 0px;
  border: 2px solid black;
}

.form button {
  margin: 10px 0px 20px 0px;
  height: 40px;
  width: 40px;
  border: 2px solid rgb(59, 59, 59);
  color: rgb(59, 59, 59);
  border-radius: 100%;
  background: rgb(255, 255, 255);
}

.form button:hover {
  border: 2px solid rgb(59, 59, 59, 0.8);
  color: rgb(59, 59, 59, 0.8);
}

/* list-items */
.list-items {
  padding: 0px 82px;
  flex: 0 2;
  min-width: 190px;
}

.edit-list ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.edit-list li {
  padding: 15px;
  display: inline-block;
  width: 100%;
}

/* Media Queries */
@media screen and (max-width: 803px) {

  footer {
    flex-direction: column;
  }

  .box {
    padding: 5px 15px;
    flex: 1 0 80px;
    background: #222;
    color: white;
  }

  .list-details {
    text-align: center;
    max-height: 200px
  }

}