body {
  margin: 0px;
  font-family: "Lato", sans-serif;
}

/* Nav Styles */
nav {
  padding: 30px;
}

header {
  text-align: center;
}

/* Main Styles */
main {
  padding: 20px;
}

main ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

main li {
  min-height: 25px;
}

/* Footer Styles */
footer {
  display: flex;
  flex-wrap: wrap;
}

.box {
  min-height: 120px;
  padding: 5px 15px;
  flex: 1 0 260px;
  background: #222;
  color: white;
}